---
import { Image } from '@astrojs/image/components';
import '@fontsource/ubuntu';
import type { CollectionEntry } from 'astro:content';
import DarkModeToggle from './components/darkModeToggle';
import './global.css';
import { ViewTransitions } from 'astro:transitions';

export type Props = {
  title?: string;
  description?: string;
  image?: string;
  postData?: CollectionEntry<'blog'>['data'];
};

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
  description = 'A blog about web development',
  image,
  postData,
} = Astro.props;

const title = Astro.props.title
  ? `${Astro.props.title} | Matvey's Blog`
  : "Matvey's Blog";
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/webp" href="/images/peppo.webp" />
    <link rel="alternative icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={canonicalURL} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta
      property="og:image"
      content={new URL(`/images/${image || 'peppo.webp'}`, Astro.url)}
    />
    <link
      rel="alternate"
      href="/rss.xml"
      type="application/rss+xml"
      title="RSS"
    />
    <meta name="twitter:creator" content="@ryabchikovm" />
    <link rel="sitemap" type="application/xml" href="/sitemap-index.xml" />
    {image && <meta property="twitter:card" content="summary_large_image" />}
    <script is:inline>
      let darkmode = localStorage.getItem('darkmode');
      if (!darkmode)
        darkmode = window
          .matchMedia('(prefers-color-scheme: dark)')
          .matches.toString();
      if (darkmode === 'true') document.documentElement.classList.add('dark');
    </script>
    {
      postData && (
        <>
          <meta
            property="article:published_time"
            content={postData.pubDate.toISOString()}
          />
          <meta property="article:author" content="Matvey Ryabchikov" />
        </>
      )
    }<ViewTransitions />
  </head>
  <body
    class="cool-scrollbar flex min-h-screen flex-col gap-8 p-8 text-neutral-700 accent-green-600 transition-colors dark:bg-neutral-900 dark:text-neutral-300"
  >
    <header class="container flex gap-4">
      <a href="/">
        <Image
          src="/images/peppo.webp"
          alt="Peppo writing in his notepad"
          height={72}
          width={72}
          class="rounded-xl"
        />
      </a>
      <div class="flex-1">
        <div class="flex justify-between align-baseline">
          <a href="/" class="text-bright text-4xl font-semibold">
            Matvey's Blog
          </a>
          <DarkModeToggle client:only />
        </div>
        <nav class="mt-2 space-x-2">
          <a class="link" href="/">Blog</a>
          <a
            class="link"
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/ronanru"
          >
            GitHub
          </a>
          <a
            class="link"
            target="_blank"
            rel="noopener noreferrer"
            href="https://twitter.com/matveydev"
          >
            Twitter
          </a>
          <a
            class="link"
            target="_blank"
            rel="noopener noreferrer"
            href="/rss.xml">RSS</a
          >
        </nav>
      </div>
    </header>
    <main class="container flex-1" transition:animate="morph">
      <slot />
    </main>
    <footer class="container text-xs">
      &copy; {new Date().getFullYear()} Matvey Ryabchikov.<br />All blog posts
      are licensed under <a
        class="text-bright underline decoration-green-600"
        rel="license"
        href="http://creativecommons.org/licenses/by-sa/4.0/"
      >
        CC BY-SA
      </a>.
    </footer>
  </body>
</html>
